.service-item-toggle > VisualElement {
    justify-content: flex-end;
}

.service-item-toggle > VisualElement > #unity-checkmark {
    align-self: flex-end;
    align-content: flex-end;
}

.service-item-toggle {
    padding-top: 6px;
    padding-right: 12px;
    padding-bottom: 6px;
    padding-left: 12px;
}
